/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@charset "UTF-8";
/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Yantramanav', sans-serif;
}

.header__holder {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header__logo {
  position: absolute;
  top: 35px;
  left: 0;
  z-index: 1;
}

.header__nav {
  z-index: 1;
  position: fixed;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__list {
  list-style: none;
}

.header__list-item {
  margin-bottom: 15px;
  width: 10px;
  height: 10px;
  background: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header__list-item a {
  display: block;
  width: 100%;
  height: 100%;
}

@media (max-width: 1299px) {
  .header__logo {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .header__nav {
    display: none;
  }
}

.intro {
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  position: relative;
}

.intro:after {
  content: '';
  background: black;
  position: absolute;
  opacity: .25;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.intro__content {
  z-index: 2;
  position: relative;
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 800px;
}

.intro__title {
  font-size: 60px;
  margin: 0 0 10px;
  padding: 0 15px;
  color: #fff;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.intro__subtitle {
  font-size: 20px;
  padding: 0 15px;
  margin: 0 0 50px;
  max-width: 560px;
  color: #fff;
  font-weight: 300;
  line-height: 27px;
}

.intro__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.intro__email {
  font-size: 18px;
  color: blue;
  font-weight: 300;
  color: #000;
  width: 300px;
  height: 50px;
  margin: 0;
  padding: 0;
  border: none;
  -webkit-border-radius: 22px 0 0 22px;
          border-radius: 22px 0 0 22px;
  font-family: 'Yantramanav', sans-serif;
  padding-left: 30px;
  outline: none;
  letter-spacing: 0.5px;
}

.intro::-webkit-input-placeholder {
  color: #8c8c8c;
}

.intro::-moz-placeholder {
  color: #8c8c8c;
}

.intro:-ms-input-placeholder {
  color: #8c8c8c;
}

.intro::-ms-input-placeholder {
  color: #8c8c8c;
}

.intro::placeholder {
  color: #8c8c8c;
}

.intro__button {
  font-size: 20px;
  -webkit-border-radius: 0 22px 22px 0;
          border-radius: 0 22px 22px 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 170px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  background: #20ab50;
  text-transform: capitalize;
  color: #fff;
  height: 50px;
  cursor: pointer;
  outline: none;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.intro__button:hover {
  opacity: .9;
}

@media (max-width: 991px) {
  __content {
    height: 600px;
  }
}

@media (max-width: 600px) {
  .intro__content {
    height: 500px;
  }
  .intro__title {
    font-size: 40px;
  }
  .intro__subtitle {
    font-size: 18px;
  }
  .intro__form {
    max-width: 90%;
  }
  .intro__email {
    max-width: 60%;
  }
  .intro__button {
    font-size: 18px;
  }
}

.about {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__info {
  width: 50%;
  max-width: 400px;
  padding: 50px 0;
  margin: 0 auto;
}

.about__title {
  font-size: 30px;
  text-align: center;
  margin: 0 0 30px;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
}

.about__text {
  font-size: 16px;
  letter-spacing: .8px;
  margin-bottom: 10px;
  margin: 0;
  padding: 0 15px;
  line-height: 24px;
}

.about__image {
  width: 50%;
  height: 800px;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 991px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__info {
    width: 100%;
  }
  .about__image {
    width: 100%;
    height: 600px;
  }
}

@media (max-width: 600px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__image {
    height: 400px;
  }
}

.girl {
  background-color: #fff;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.girl__image {
  width: 50%;
  height: 800px;
  background-repeat: no-repeat;
  background-position: center;
}

.girl__info {
  width: 50%;
  max-width: 400px;
  padding: 50px 0;
  margin: 0 auto;
}

.girl__title {
  font-size: 30px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  padding: 0 15px;
  margin: 0 0 100px;
}

.girl__text {
  position: relative;
  font-size: 20px;
  text-align: center;
  padding: 0 15px;
  margin: 0 0 100px;
  letter-spacing: 1px;
  line-height: 30px;
}

.girl__text:before {
  content: '';
  display: block;
  background-image: url("../img/quotes.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: -10px;
  top: -40px;
  height: 16px;
  width: 26px;
}

.girl__text:after {
  content: '';
  display: block;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  background-image: url("../img/quotes.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: -10px;
  bottom: -30px;
  height: 16px;
  width: 26px;
}

.girl__name {
  margin: 0;
  font-size: 18px;
  text-align: center;
  padding: 0 15px;
}

@media (max-width: 991px) {
  .girl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .girl__info {
    width: 100%;
  }
  .girl__image {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    height: 600px;
  }
}

@media (max-width: 600px) {
  .girl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .girl__image {
    height: 400px;
  }
  .girl__text:before {
    left: 10px;
  }
  .girl__text:after {
    right: 10px;
  }
}

.boy {
  background-color: #fff;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.boy__info {
  width: 50%;
  max-width: 400px;
  padding: 50px 0;
  margin: 0 auto;
}

.boy__text {
  position: relative;
  font-size: 20px;
  text-align: center;
  padding: 0 15px;
  margin: 0 0 100px;
  letter-spacing: 1px;
  line-height: 30px;
}

.boy__text:before {
  content: '';
  display: block;
  background-image: url("../img/quotes.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: -10px;
  top: -40px;
  height: 16px;
  width: 26px;
}

.boy__text:after {
  content: '';
  display: block;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  background-image: url("../img/quotes.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: -10px;
  bottom: -30px;
  height: 16px;
  width: 26px;
}

.boy__name {
  margin: 0;
  font-size: 18px;
  text-align: center;
  padding: 0 15px;
}

.boy__image {
  width: 50%;
  height: 800px;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 991px) {
  .boy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .boy__info {
    width: 100%;
  }
  .boy__text {
    margin-bottom: 40px;
  }
  .boy__image {
    width: 100%;
    height: 600px;
  }
}

@media (max-width: 600px) {
  .boy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .boy__image {
    height: 400px;
  }
  .boy__text:before {
    left: 10px;
  }
  .boy__text:after {
    right: 10px;
  }
}

.range {
  padding: 80px 0;
  text-align: center;
}

.range__title {
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 20px;
  padding: 0 15px;
}

.range__subtitle {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  margin: 0 0 130px;
  padding: 0 15px;
}

.range__list {
  widows: 100%;
  max-width: 880px;
  margin: 0 auto;
}

.range__item {
  outline: none;
}

.range__image {
  margin: 0 auto 120px;
  max-width: 100%;
}

.range__name {
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 25px;
}

.range__number {
  font-size: 18px;
}

.range__button-before {
  cursor: pointer;
}

.range__button-before img {
  z-index: 2;
  position: absolute;
  top: 40%;
  left: 15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.range__button-next {
  cursor: pointer;
}

.range__button-next img {
  z-index: 2;
  position: absolute;
  top: 40%;
  right: 15px;
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

@media (max-width: 600px) {
  .range {
    padding: 40px 0;
  }
  .range__subtitle {
    margin: 0 0 50px;
  }
  .range__image {
    margin: 0 auto 40px;
  }
  .range__button-before img {
    display: none;
  }
  .range__button-next img {
    display: none;
  }
}

.why-us {
  background: #e1e0e1;
  padding: 80px 0 0;
}

.why-us__title {
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 20px;
  padding: 0 15px;
  text-align: center;
}

.why-us__subtitle {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0 15px;
  text-align: center;
}

.why-us__layout {
  position: relative;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  text-align: center;
}

.why-us__image {
  position: relative;
  top: 6px;
  max-width: 100%;
}

.why-us__features {
  position: absolute;
  top: 20px;
  left: -40px;
}

.why-us__features--right {
  left: auto;
  right: -40px;
}

.why-us__feature {
  text-align: left;
}

.why-us__feature-item {
  max-width: 215px;
  background-color: #fff;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.why-us__feature-dot:after {
  content: '';
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
}

.why-us__feature-dot.active:after {
  background: #20ab50;
}

.why-us__feature-dot:before {
  content: '';
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
}

.why-us__feature-dot.active:before {
  background: #20ab50;
}

.why-us__feature-name {
  text-align: left;
  font-weight: 600;
  font-size: 16px;
}

.why-us__feature-desc {
  text-align: left;
  font-weight: 300;
  font-size: 16px;
}

.why-us__feature-dot {
  z-index: 1;
  position: absolute;
  background: #fff;
  height: 17px;
  width: 17px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 4px solid rgba(32, 171, 80, 0.5);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.why-us__feature-dot:after {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.why-us__features--left .why-us__feature-item:first-of-type .why-us__feature-dot {
  left: 315px;
  top: 150px;
}

.why-us__features--left .why-us__feature-item:first-of-type .why-us__feature-dot:before {
  height: 110px;
  width: 1px;
  top: -110px;
  left: 8px;
}

.why-us__features--left .why-us__feature-item:first-of-type .why-us__feature-dot:after {
  height: 1px;
  width: 85px;
  top: -110px;
  left: -77px;
}

.why-us__features--left .why-us__feature-item:nth-of-type(2) .why-us__feature-dot {
  left: 340px;
  top: 205px;
}

.why-us__features--left .why-us__feature-item:nth-of-type(2) .why-us__feature-dot:after {
  height: 1px;
  width: 100px;
  top: 8px;
  left: -100px;
}

.why-us__features--left .why-us__feature-item:nth-of-type(3) .why-us__feature-dot {
  left: 350px;
  top: 300px;
}

.why-us__features--left .why-us__feature-item:nth-of-type(3) .why-us__feature-dot:after {
  height: 1px;
  width: 110px;
  top: 8px;
  left: -110px;
}

.why-us__features--left .why-us__feature-item:nth-of-type(4) .why-us__feature-dot {
  left: 470px;
  top: 465px;
}

.why-us__features--left .why-us__feature-item:nth-of-type(4) .why-us__feature-dot:before {
  height: 58px;
  width: 1px;
  top: 17px;
  left: 8px;
}

.why-us__features--left .why-us__feature-item:nth-of-type(4) .why-us__feature-dot:after {
  height: 1px;
  width: 240px;
  top: 75px;
  left: -231px;
}

.why-us__features--right .why-us__feature-item:first-of-type .why-us__feature-dot {
  left: -380px;
  top: 150px;
}

.why-us__features--right .why-us__feature-item:first-of-type .why-us__feature-dot:before {
  height: 115px;
  width: 1px;
  top: -115px;
  left: 8px;
}

.why-us__features--right .why-us__feature-item:first-of-type .why-us__feature-dot:after {
  height: 1px;
  width: 370px;
  top: -115px;
  left: 8px;
}

.why-us__features--right .why-us__feature-item:nth-of-type(2) .why-us__feature-dot {
  left: -335px;
  top: 240px;
}

.why-us__features--right .why-us__feature-item:nth-of-type(2) .why-us__feature-dot:before {
  height: 105px;
  width: 1px;
  top: -105px;
  left: 8px;
}

.why-us__features--right .why-us__feature-item:nth-of-type(2) .why-us__feature-dot:after {
  height: 1px;
  width: 330px;
  top: -105px;
  left: 8px;
}

.why-us__features--right .why-us__feature-item:nth-of-type(3) .why-us__feature-dot {
  left: -155px;
  top: 250px;
}

.why-us__features--right .why-us__feature-item:nth-of-type(3) .why-us__feature-dot:after {
  height: 1px;
  width: 140px;
  top: 8px;
  left: 17px;
}

.why-us__features--right .why-us__feature-item:nth-of-type(4) .why-us__feature-dot {
  left: -240px;
  top: 325px;
}

.why-us__features--right .why-us__feature-item:nth-of-type(4) .why-us__feature-dot:before {
  height: 58px;
  width: 1px;
  top: 17px;
  left: 8px;
}

.why-us__features--right .why-us__feature-item:nth-of-type(4) .why-us__feature-dot:after {
  height: 1px;
  width: 230px;
  top: 75px;
  left: 8px;
}

.why-us__features--right .why-us__feature-item:nth-of-type(5) .why-us__feature-dot {
  left: -415px;
  top: 495px;
}

.why-us__features--right .why-us__feature-item:nth-of-type(5) .why-us__feature-dot:after {
  height: 1px;
  width: 400px;
  top: 8px;
  left: 17px;
}

@media (min-width: 1300px) {
  .why-us__feature {
    text-align: left;
  }
  .why-us__feature-item.active {
    background-color: #20ab50;
  }
  .why-us__feature-item.active .why-us__feature-name {
    color: #fff;
  }
  .why-us__feature-item.active .why-us__feature-desc {
    color: #fff;
  }
  .why-us__feature-item.active .why-us__feature-dot {
    border: 4px solid #20ab50;
  }
  .why-us__feature-item.active .why-us__feature-dot:before {
    background: #20ab50;
  }
  .why-us__feature-item.active .why-us__feature-dot:after {
    background: #20ab50;
  }
}

@media (max-width: 1299px) {
  .why-us {
    padding: 30px 0;
    background: #fff;
  }
  .why-us__layout {
    max-width: 700px;
  }
  .why-us__features {
    position: static;
  }
  .why-us__features:first-of-type {
    padding-top: 40px;
  }
  .why-us__feature-item {
    background: transparent;
    max-width: 100%;
    width: 100%;
    padding: 15px 0;
  }
  .why-us__feature-name {
    text-align: center;
    padding: 0 15px;
    font-size: 24px;
    margin-bottom: 10px;
  }
  .why-us__feature-desc {
    text-align: center;
    padding: 0 15px;
    font-size: 18px;
  }
  .why-us__feature-dot {
    display: none;
  }
}

.where {
  background-color: #fff;
  text-align: center;
  padding: 80px 0;
}

.where__holder {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0;
}

.where__title {
  font-size: 30px;
  font-family: 'Nunito', sans-serif;
  margin: 0 0 20px;
}

.where__subtitle {
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  margin: 0 0 80px;
}

.where__subtitle:last-of-type {
  margin: 0 0 40px;
}

.where__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.where__item {
  width: 20%;
  margin-bottom: 60px;
  text-align: left;
  line-height: 24px;
}

.where__item:last-of-type {
  margin-bottom: 80px;
}

.where__item p {
  font-size: 15px;
  font-weight: 300;
  padding: 0 15px;
  margin: 0;
}

.where__item p:last-of-type {
  margin-bottom: 10px;
}

.where__name {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  padding: 0 15px;
}

.where__link {
  color: #20ab50;
  padding: 0 15px;
  text-decoration: none;
}

.where__link:hover {
  text-decoration: underline;
}

.where__email {
  color: #20ab50;
  text-decoration: none;
  margin-right: 100px;
}

.where__email:hover {
  text-decoration: underline;
}

.where__phone {
  text-decoration: none;
  color: #000;
}

.where__phone:hover {
  text-decoration: underline;
}

@media (max-width: 991px) {
  .where__item {
    width: 33.3%;
    text-align: center;
  }
  .where__item:last-of-type {
    margin-bottom: 60px;
  }
}

@media (max-width: 600px) {
  .where {
    padding: 40px 0;
  }
  .where__title {
    font-size: 24px;
  }
  .where__subtitle {
    font-size: 16px;
  }
  .where__item {
    width: 50%;
  }
  .where__email {
    margin-right: 20px;
  }
}

@media (max-width: 360px) {
  .where__item {
    width: 100%;
  }
}

.footer {
  background-color: #f3f3f3;
}

.footer__holder {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 135px 0 110px;
  text-align: center;
}

.footer__title {
  font-size: 30px;
  font-family: 'Nunito', sans-serif;
  padding: 0 15px;
  margin: 0 0 10px;
}

.footer__subtitle {
  font-size: 22px;
  font-family: 'Nunito', sans-serif;
  padding: 0 15px;
  margin: 0 0 40px;
}

.footer__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.footer__email {
  font-size: 18px;
  color: blue;
  font-weight: 300;
  color: #000;
  width: 300px;
  height: 50px;
  margin: 0;
  padding: 0;
  border: none;
  -webkit-border-radius: 22px 0 0 22px;
          border-radius: 22px 0 0 22px;
  font-family: 'Yantramanav', sans-serif;
  padding-left: 30px;
  outline: none;
}

.footer__email::-webkit-input-placeholder {
  color: #8c8c8c;
}

.footer__email::-moz-placeholder {
  color: #8c8c8c;
}

.footer__email:-ms-input-placeholder {
  color: #8c8c8c;
}

.footer__email::-ms-input-placeholder {
  color: #8c8c8c;
}

.footer__email::placeholder {
  color: #8c8c8c;
}

.footer__button {
  font-size: 20px;
  -webkit-border-radius: 0 22px 22px 0;
          border-radius: 0 22px 22px 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 170px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  background: #20ab50;
  text-transform: capitalize;
  color: #fff;
  height: 50px;
  cursor: pointer;
  outline: none;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.footer__button:hover {
  opacity: .9;
}

.footer__copyrights {
  background-color: #dcdcdc;
  color: #fff;
  padding: 15px;
}

.footer__copyrights p {
  text-align: left;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .footer__holder {
    padding: 40px 0;
  }
  .footer__button {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .footer__form {
    max-width: 90%;
  }
  .footer__email {
    max-width: 60%;
  }
}
